{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<script src="{% static 'juegos/detail.js' %}"></script>
<script>
  $(document).ready(function(){
    procesaId();
  });
</script>
<h3>Consultar</h3>

<table class="table table-sm table-bordered border-primary table-fit">
    <tbody>
        <tr>
            <td>id</td>
            <td colspan="2"><input class="form-control" type="text" aria-label="Disabled input example" disabled value="{{ id }}" name="id" id="id"></td>
            <td rowspan="5" colspan="2"><img src="" width="250" id="image"></td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td colspan="2"><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="title"></td>
        </tr>
        <tr>
            <td>Tipo</td>
            <td colspan="2"><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="tipo"></td>
        </tr>
        <tr>
            <td>Consola</td>
            <td colspan="2"><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="consola"></td>
        </tr>
        <tr>
            <td>Estado</td>
            <td colspan="2"><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="estado"></td>
        </tr>
        <tr>
            <td>Tamano</td>
            <td>Tiempo</td>
            <td>Ratio</td>
            <td>Enlaces</td>
            <td>Acciones</td>
        </tr>
        <tr>
            <td><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="tamano"></td>
            <td><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="tiempo"></td>
            <td><input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="ratio"></td>
            <td>
                <a href="https://es.webuy.com/product-detail/?id={{ juego.idPrecio }}" id="idprecio"target="otro"><img src="{% static 'juegos/images/cex.ico' %}" width="24" alt="Actualizar tiempo"></a><br>
                <a href="/admin/juegos/juego/{{ id }}/change/" target="otro"><img src="{% static 'juegos/images/edit.svg' %}" width="24"></a>
            </td>
            <td>
                <ul>
                    <li>
                        Actualizar Tiempo <a href="/juegos/canales/search?modo=tiempo&id={{id}}"><img src="" class="tiempo" width="24"></a>
                    </li>
                    <li>
                        Buscar Juego <a href="/juegos/canales/search?modo=buscar&id={{ id }}"><img src="" class="buscar" width="24"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Terminado</td>
            <td>Visible</td>
            <td>Venta</td>
            <td>Precio</td>
            <td></td>
        </tr>
        <tr>
            <td><img src="" width="24" id="terminado"></td>
            <td><img src="" width="24" id="visible"></td>
            <td><img src="" width="24" id="venta"></td>
            <td>
                <input class="form-control" type="text" aria-label="Disabled input example" disabled value="" id="precio">
                Buscar Juego <a href="/juegos/canales/search?modo=precio&id={{ id }}"><img src="" class="buscar" width="24"></a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
{% endblock %}
