{% extends "base_generic.html" %}

{% block content %}
{% load static %}
  <script src="{% static 'juegos/tools.js' %}"></script>

{% csrf_token %} 
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Plataforma</th>
      <th scope="col">Cookie</th>
      <th scope="col">Enlaces</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <select id="plataforma" name="plataforma">
          <option value="nsw">Nintendo Switch</option>
          <option value="ps4">Playstation 4</option>
        </select> 
      </td>
      <td>
        <textarea id="cookie" name="cookie" rows="4" cols="50"></textarea>
      </td>
      <td>
        <a href="https://library.playstation.com/recently-purchased">ps4</a><br>
        <a href="https://ec.nintendo.com/my/#/transactions/1">nintendo</a>
      </td>
      <td>
        <button type="button" class="btn btn-primary" onclick="tools_carga()">Cargar</button>   
      </td>
    </tr>
    <tr>
      <td>
        <input type="image" src="{% static 'juegos/images/configuraciones.svg' %}" alt="Submit" width="48" onclick="tools_actualiza()">
        <input type="image" src="{% static 'juegos/images/dolar.svg' %}" alt="Submit" width="48" onclick="tools_precios()">
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}